{% extends "base.html" %}
{% load staticfiles %}

{% block footer_inc %}
  <script>
    var meatballs = {{ meatballs|safe }};
    var spaghetti = {{ spaghetti|safe }};
  </script>

  <script src="//cdnjs.cloudflare.com/ajax/libs/vis/4.7.0/vis.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0-alpha1/jquery.min.js"></script>
  <script src="{% static 'django_spaghetti/js/app_models.js' %}"></script>
  <link href="//cdnjs.cloudflare.com/ajax/libs/vis/4.7.0/vis.min.css" rel="stylesheet" type="text/css" />
  <link href="{% static 'django_spaghetti/css/app_models.css' %}" rel="stylesheet" type="text/css" />
{% endblock %}

{% block body_class %}front{% endblock %}

{% block content %}
<div id="app_list">
  <p class="lead">Applications</p>
  <div id="app-buttons">
    <button id="id_all_apps">Select all</button>
    <button id="id_no_apps">Select none</button>
  </div>
</div>

<div id="visualization" style="height: 800px"></div>
{% endblock %}
